<section class="p-5 p-lg-5 mb-5 theme-bg-light animate__animated animate__fadeIn">
    <div class="container">
        <h2 class="mb-3 small-caps">Sad news report</h2>
        <div class="mb-4 text-justify">
            If you've reached this place it means something went wrong. Below you can get more information about it.
        </div>
        <a class="btn btn-primary" routerLink="/about-me"><i class="fas fa-home"></i> Take me home</a>
    </div>
</section>

<section class="p-5 p-lg-5 minh-100 animate__animated animate__fadeIn">
    <div class="container">
        <h2 class="section-title small-caps font-weight-bold mb-3">{{title}}</h2>
        <div class="mb-3 text-justify">{{text}}</div>
        <img src="{{imageSrc}}" alt="A rocket" width="300" height="300">
    </div>
</section>