<div *ngIf="!isLoading">
    <section class="cta-section p-3 p-lg-5 theme-bg-light py-5">
        <div class="container">
            <h2 class="title mb-2">Resume config</h2>
            <span>Here you can edit the content of your resume, like adding o or removing sections.</span>
        </div>
    </section>

    <section class="p-3 p-lg-5 minh-100 mb-5 animate__animated animate__fadeIn">
        <div class="container">
            <h2 class="section-title small-caps font-weight-bold mb-3">Complete the form</h2>
            <div class="section-intro mb-5">Every single field and hit update.</div>

            <form [formGroup]="resumeForm" (keydown.enter)="$event.preventDefault()" (keydown.shift.enter)="$event.preventDefault()">

                <div class="form-group">
                    <input type="text" class="form-control" formControlName="name" placeholder="Name">
                    <span *ngIf="name.invalid && name.errors.required && (name.dirty || name.touched)" class="text-danger">
                        Name is required.
                    </span>
                    <span *ngIf="name.invalid && name.errors.maxlength && (name.dirty || name.touched)" class="text-danger">
                        Max length must be 50.
                    </span>
                </div>

                <div class="form-group">
                    <input type="text" class="form-control" formControlName="title" placeholder="Title">
                    <span *ngIf="title.invalid && title.errors.required && (title.dirty || title.touched)" class="text-danger">
                        A title is required.
                    </span>
                    <span *ngIf="title.invalid && title.errors.maxlength && (title.dirty || title.touched)" class="text-danger">
                        Max length must be 50.
                    </span>
                </div>

                <div class="form-group">
                    <textarea class="form-control" formControlName="summary" placeholder="Describe yourself in a few sentences"></textarea>
                    <span *ngIf="summary.invalid && summary.errors.required && (summary.dirty || summary.touched)" class="text-danger">
                        A summary is required.
                    </span>
                    <span *ngIf="summary.invalid && summary.errors.minlength && (summary.dirty || summary.touched)" class="text-danger">
                        Enter at least 10 characters.
                    </span>
                    <span *ngIf="summary.invalid && summary.errors.maxlength && (summary.dirty || summary.touched)" class="text-danger">
                        Max length must be 200.
                    </span>
                </div>

                <div class="form-group">
                    <input type="text" class="form-control" formControlName="phone" placeholder="Phone">
                    <span *ngIf="phone.invalid && phone.errors.maxlength && (phone.dirty || phone.touched)" class="text-danger">
                        Max length must be 15.
                    </span>
                </div>

                <div class="form-group">
                    <input type="text" class="form-control" formControlName="email" placeholder="Email">
                    <span *ngIf="email.invalid && email.errors.maxlength && (email.dirty || email.touched)" class="text-danger">
                        Max length must be 100.
                    </span>
                </div>

                <div class="form-group">
                    <input type="text" class="form-control" formControlName="website" placeholder="Website">
                    <span *ngIf="website.invalid && website.errors.maxlength && (website.dirty || website.touched)" class="text-danger">
                        Max length must be 100.
                    </span>
                </div>

                <div class="form-group">
                    <input type="text" class="form-control" formControlName="location" placeholder="Location">
                    <span *ngIf="location.invalid && location.errors.maxlength && (location.dirty || location.touched)" class="text-danger">
                        Max length must be 100.
                    </span>
                </div>

                <div class="theme-bg-light p-3 mt-5">
                    <h4>Experience</h4>

                    <div class="form-group">
                        <table class="table table-bordered">
                            <thead class="thead-dark">
                                <tr>
                                    <th></th>
                                    <th>Position</th>
                                    <th>Company</th>
                                    <th>From</th>
                                    <th>To</th>
                                    <th>Remarks</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngIf="experience.length === 0">
                                    <td colspan="6" class="text-center">No experience</td>
                                </tr>
                                <tr *ngFor="let ex of experience; index as i">
                                    <td><button (click)="removeExperience(i)" class="btn"><i class="fa fa-trash"></i></button></td>
                                    <td>{{ex.position.substring(0, 20) + '..'}}</td>
                                    <td>{{ex.company.substring(0, 20) + '..'}}</td>
                                    <td>{{ex.from | date:'MMM yyyy'}}</td>
                                    <td *ngIf="ex.to">{{ex.to | date:'MMM yyyy'}}</td>
                                    <td *ngIf="!ex.to">Present</td>
                                    <td>{{ex.remarks.substring(0, 20) + '..'}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <h5 class="mt-5">Add experience</h5>

                    <div class="form-group">
                        <input type="text" class="form-control" formControlName="experiencePosition" placeholder="Position" maxlength="50">
                    </div>

                    <div class="form-group">
                        <input type="text" class="form-control" formControlName="experienceCompany" placeholder="Company" maxlength="50">
                    </div>

                    <div class="form-group">
                        <select class="form-control pb-0 pt-0 col-2 d-inline mr-3" formControlName="experienceFromMonth">
                            <option *ngFor="let month of monthsFrom" [ngValue]="month.id">{{month.name}}</option>
                        </select>

                        <input type="number" class="form-control pb-0 pt-0 col-1 d-inline" formControlName="experienceFromYear" maxlength="4" minlength="4">

                        <label class="mr-3 ml-3"> to </label>

                        <select class="form-control pb-0 pt-0 col-2 d-inline mr-3" formControlName="experienceToMonth" (change)="onExperienceToMonthChanged($event.target.value)">
                            <option *ngFor="let month of monthsTo" value="{{month.id}}">{{month.name}}</option>
                        </select>

                        <input type="number" class="form-control pb-0 pt-0 col-1 d-inline" formControlName="experienceToYear" maxlength="4" minlength="4">
                    </div>

                    <div class="form-group">
                        <textarea class="form-control" formControlName="experienceRemark" placeholder="Remark" (input)='onExperienceRemarkChanged($event.target.value)'></textarea>
                        <div class="text-right">
                            <button type="button" class="btn btn-outline-primary mt-1" (click)="addExperienceRemark()" [disabled]="experienceRemark.value === ''">Add remark</button>
                        </div>

                        <h5>Remarks</h5>
                        <p *ngIf="experienceRemarks.length === 0">No remarks</p>
                        <ul>
                            <li *ngFor="let remark of experienceRemarks; index as i">{{remark}} - <a [routerLink]="" (click)="removeExperienceRemark(i)">Remove</a></li>
                        </ul>
                    </div>

                    <div class="form-group text-right mt-5">
                        <button type="button" class="btn btn-primary" [disabled]="experiencePosition.value === '' || experienceCompany.value === ''" (click)="addExperience()">Add experience</button>
                    </div>

                </div>

                <div class="theme-bg-light p-3 mt-5">
                    <h4>Education</h4>

                    <div class="form-group">
                        <table class="table table-bordered">
                            <thead class="thead-dark">
                                <tr>
                                    <th></th>
                                    <th>Title</th>
                                    <th>Institution</th>
                                    <th>From</th>
                                    <th>To</th>
                                    <th>Remarks</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngIf="education.length === 0">
                                    <td colspan="6" class="text-center">No education</td>
                                </tr>
                                <tr *ngFor="let ed of education; index as i">
                                    <td><button (click)="removeEducation(i)" class="btn"><i class="fa fa-trash"></i></button></td>
                                    <td>{{ed.title.substring(0, 20) + '..'}}</td>
                                    <td>{{ed.institution.substring(0, 20) + '..'}}</td>
                                    <td>{{ed.from | date:'MMM yyyy'}}</td>
                                    <td *ngIf="ed.to">{{ed.to | date:'MMM yyyy'}}</td>
                                    <td *ngIf="!ed.to">Present</td>
                                    <td>{{ed.remarks.substring(0, 20) + '..'}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <h5 class="mt-5">Add education</h5>

                    <div class="form-group">
                        <input type="text" class="form-control" formControlName="educationTitle" placeholder="Title" maxlength="50">
                    </div>

                    <div class="form-group">
                        <input type="text" class="form-control" formControlName="educationInstitution" placeholder="Institution" maxlength="50">
                    </div>

                    <div class="form-group">
                        <select class="form-control pb-0 pt-0 col-2 d-inline mr-3" formControlName="educationFromMonth">
                            <option *ngFor="let month of monthsFrom" [ngValue]="month.id">{{month.name}}</option>
                        </select>

                        <input type="number" class="form-control pb-0 pt-0 col-1 d-inline" formControlName="educationFromYear" maxlength="4" minlength="4">

                        <label class="mr-3 ml-3"> to </label>

                        <select class="form-control pb-0 pt-0 col-2 d-inline mr-3" formControlName="educationToMonth" (change)="educationToMonthOnChange($event.target.value)">
                            <option *ngFor="let month of monthsTo" value="{{month.id}}">{{month.name}}</option>
                        </select>

                        <input type="number" class="form-control pb-0 pt-0 col-1 d-inline" formControlName="educationToYear" maxlength="4" minlength="4">
                    </div>

                    <div class="form-group">
                        <textarea class="form-control" formControlName="educationRemark" placeholder="Remark" (input)='onEducationRemarkChanged($event.target.value)'></textarea>
                        <div class="text-right">
                            <button type="button" class="btn btn-outline-primary mt-1" (click)="addEducationRemark()" [disabled]="educationRemark.value === ''">Add remark</button>
                        </div>

                        <h5>Remarks</h5>
                        <p *ngIf="educationRemarks.length === 0">No remarks</p>
                        <ul>
                            <li *ngFor="let remark of educationRemarks; index as i">{{remark}} - <a [routerLink]="" (click)="removeEducationRemark(i)">Remove</a></li>
                        </ul>
                    </div>

                    <div class="form-group text-right mt-5">
                        <button type="button" class="btn btn-primary" [disabled]="educationTitle.value === '' || educationInstitution.value === ''" (click)="addEducation()">Add education</button>
                    </div>

                </div>

                <div class="theme-bg-light p-3 mt-5">
                    <h4>Courses</h4>

                    <div class="form-group">
                        <table class="table table-bordered">
                            <thead class="thead-dark">
                                <tr>
                                    <th></th>
                                    <th>Name</th>
                                    <th>Institution</th>
                                    <th>Year</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngIf="courses.length === 0">
                                    <td colspan="6" class="text-center">No courses</td>
                                </tr>
                                <tr *ngFor="let course of courses; index as i">
                                    <td><button (click)="removeCourse(i)" class="btn"><i class="fa fa-trash"></i></button></td>
                                    <td>{{course.name}}</td>
                                    <td>{{course.institution}}</td>
                                    <td>{{course.year}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <h5 class="mt-5">Add course</h5>

                    <div class="form-group">
                        <input type="text" class="form-control" formControlName="courseName" placeholder="Name" maxlength="100">
                    </div>

                    <div class="form-group">
                        <input type="text" class="form-control" formControlName="courseInstitution" placeholder="Institution" maxlength="50">
                    </div>

                    <div class="form-group">
                        <input type="number" class="form-control pb-0 pt-0 col-1 d-inline" formControlName="courseYear" maxlength="4" minlength="4">
                    </div>

                    <div class="form-group text-right mt-5">
                        <button type="button" class="btn btn-primary" [disabled]="courseName.value === '' || courseInstitution.value === ''" (click)="addCourse()">Add course</button>
                    </div>
                </div>

                <div class="theme-bg-light p-3 mt-5">
                    <h4>Skills</h4>
                    <small class="form-text text-muted pt-1"><i class="fas fa-info-circle mr-2 text-primary"></i>You can remove a skill by clicking on it.</small>
                    <div class="form-group">
                        <ul>
                            <li *ngFor="let skill of skills; index as i">
                                <a routerLink="" (click)="removeSkill(i)">{{skill.name}}</a>
                            </li>
                        </ul>
                    </div>

                    <h5 class="mt-5">Add skill</h5>

                    <div class="form-group">
                        <input type="text" class="form-control" formControlName="skillName" placeholder="Name" maxlength="30">
                    </div>

                    <div class="form-group text-right mt-5">
                        <button type="button" class="btn btn-primary" [disabled]="skillName.value === ''" (click)="addSkill()">Add skill</button>
                    </div>
                </div>

                <div class="theme-bg-light p-3 mt-5">
                    <h4>Languages</h4>
                    <small class="form-text text-muted pt-1"><i class="fas fa-info-circle mr-2 text-primary"></i>You can remove a language by clicking on it.</small>
                    <div class="form-group">
                        <ul>
                            <li *ngFor="let language of languages; index as i">
                                <a routerLink="" (click)="removeLanguage(i)">{{language.name}} ({{language.level}})</a>
                            </li>
                        </ul>
                    </div>

                    <h5 class="mt-5">Add language</h5>

                    <div class="form-group">
                        <input type="text" class="form-control" formControlName="languageName" placeholder="Name" maxlength="50">
                    </div>

                    <div class="form-group">
                        <input type="text" class="form-control" formControlName="languageLevel" placeholder="Level" maxlength="50">
                    </div>

                    <div class="form-group text-right mt-5">
                        <button type="button" class="btn btn-primary" [disabled]="languageName.value === '' || languageLevel === ''" (click)="addLanguage()">Add language</button>
                    </div>
                </div>

                <div class="theme-bg-light p-3 mt-5">
                    <h4>Interests</h4>
                    <small class="form-text text-muted pt-1"><i class="fas fa-info-circle mr-2 text-primary"></i>You can remove an interest by clicking on it.</small>
                    <div class="form-group">
                        <ul>
                            <li *ngFor="let interest of interests; index as i">
                                <a routerLink="" (click)="removeInterest(i)">{{interest.name}}</a>
                            </li>
                        </ul>
                    </div>

                    <h5 class="mt-5">Add interest</h5>

                    <div class="form-group">
                        <input type="text" class="form-control" formControlName="interestName" placeholder="Name" maxlength="30">
                    </div>

                    <div class="form-group text-right mt-5">
                        <button type="button" class="btn btn-primary" [disabled]="interestName.value === ''" (click)="addInterest()">Add interest</button>
                    </div>
                </div>

                <div class="form-group buttons-row mt-5">
                    <a class="btn btn-default float-right" routerLink='/blog'>Cancel</a>
                    <button class="btn btn-primary float-right" type="button" (click)="submitForm()" [disabled]="!resumeForm.valid || isSubmitting"><i class="fa fa-save"></i> Update resume</button>
                </div>
            </form>
        </div>
    </section>
</div>

<div *ngIf="isLoading" class="minh-100 d-flex justify-content-center align-items-center animate__animated animate__fadeIn">
    Loading..
</div>