<section class="cta-section p-3 p-lg-5 theme-bg-light py-5">
    <div class="container">
        <h2 class="title mb-2">Dashboard</h2>
        <span>Manage all your content from here.</span>
    </div>
</section>

<div class="minh-100">
    <section class="container p-3 p-lg-5 animate__animated animate__fadeIn">
        <div class="row">
            <div class="item col-12 col-md-6 mb-5">
                <h2><a routerLink="/posts"><i class="fas fa-edit"></i> Posts</a></h2>
                <div class="text-justify">The posts you have created, including those are marked as draft. From here you can create new posts and update, delete or publish existing ones.</div>
            </div>

            <div class="item col-12 col-md-6 mb-5">
                <h2><a routerLink="/messages"><i class="fas fa-envelope-open-text"></i> Messages</a></h2>
                <div class="text-justify">Messages people has sent to you through the contact form.</div>
            </div>

            <div class="item col-12 col-md-6 mb-5">
                <h2><a routerLink="/resume-config"><i class="fas fa-file-alt"></i> Resume</a></h2>
                <div class="text-justify">Here you can edit the content of your resume, like adding o or removing sections.</div>
            </div>

            <div class="item col-12 col-md-6 mb-5">
                <h2><a routerLink="/settings"><i class="fas fa-cog"></i> Settings</a></h2>
                <div class="text-justify">Update the site preferences as you like.</div>
            </div>

            <div class="item col-12 col-md-6 mb-5">
                <h2><a routerLink="/service-packages"><i class="fas fa-dollar-sign"></i> Service packages</a></h2>
                <div class="text-justify">Manage the service packages you offer.</div>
            </div>

            <div class="item col-12 col-md-6 mb-5">
                <h2><a routerLink="/service-faqs"><i class="fas fa-question-circle"></i> Service FAQs</a></h2>
                <div class="text-justify">Add or remove frequently asked questions related to your services.</div>
            </div>
        </div>
    </section>
</div>